@model CurrencyViewModel

    <div>
        <div>
            <div>@Model.CharCode</div>
            <div>@Model.Nominal</div>
            <div>@Model.Name</div>
            <div>@Model.Value</div>
            <div>@Model.PreviousValue</div>
        </div>
    </div>

